{% import 'node.jinja' as node_formatter %}
{% macro format(action, use_coords=False) %}
action: {{action.type}}
subject: {{ action.subject }}
timestep: {{ action.timestep }}
{% if action.start_position %}
start_position: {{ node_formatter.format(action.start_position, use_coords) }}
{%- endif -%}
{% if action.end_position %}
end_position: {{ node_formatter.format(action.end_position, use_coords) }}
{%- endif -%}
{% if action.description %}
description: {{ action.description }}
{% endif %}
{% endmacro %}