{% import 'edge.jinja' as edge_formatter %}
{% macro format(graph, use_coords=False) %}
    {%- if graph.rows is defined -%}
        type: GridGraph
        rows: {{ graph.rows }}
        cols: {{ graph.cols }}
    {%- elif graph.undirected_edges is defined -%}
        type: "UndirectedGraph"
        edges:
        {% for edge in graph.undirected_edges %}
            - {{edge_formatter.format(edge, use_coords)}}
        {% endfor %}
    {%- else -%}
        type: "DirectedGraph"
        edges:
        {% for edge in graph.edges %}
            - {{edge_formatter.format(edge, use_coords)}}
        {%- endfor -%}
    {%- endif -%}
{% endmacro %}}